
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Fondo blanco suave */
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #333333; /* Texto oscuro */
  margin-bottom: 30px;
}

/* Estilos para la barra de búsqueda */
.search-form {
  margin-bottom: 50px;
}

.search-form input[type="text"] {
  width: 70%;
  padding: 15px;
  border: 2px solid #e5e5e5; /* Borde gris */
  border-radius: 30px;
  font-size: 18px;
  color: #333333; /* Texto oscuro */
  outline: none;
  transition: border-color 0.3s ease; /* Efecto de transición */
}

.search-form input[type="text"]:focus {
  border-color: #7b68ee; /* Borde violeta al enfocar */
}

.search-form button {
  width: 150px;
  padding: 15px;
  margin-left: 20px;
  background-color: #7b68ee; /* Violeta */
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: #ffffff; /* Texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.search-form button:hover {
  background-color: #5f4acc; /* Violeta oscuro al pasar el mouse */
}

/* Estilos para la cuadrícula de GIFs */
.gif-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gif-item {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 20px;
  overflow: hidden; /* Evitar que los botones se salgan del contenedor */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease; /* Efecto de transición */
}

.gif-item:hover {
  transform: translateY(-10px); /* Levantar ligeramente al pasar el mouse */
}

.gif-item img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0; /* Redondear solo la esquina superior */
}

.gif-item button {
  width: 100%;
  padding: 20px;
  background-color: #7b68ee; /* Violeta */
  border: none;
  color: #ffffff; /* Texto blanco */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.gif-item button:hover {
  background-color: #5f4acc; /* Violeta oscuro al pasar el mouse */
}

/* Estilos para GIFs favoritos */
.favorited {
  border: 3px solid #ffd700; /* Borde dorado para GIFs favoritos */
}
